html, body {
    background-color: #222627;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.bg-black{
    background-color: #222627;
}

.bg-red{
    background-color: #DC4437;
}

.bg-dove{
    background-color: #4C5051;
}

.text-black{
    color: #222627;
}

.bg-grey{
    background-color: #383C3D;
}

.pagination:hover{
    background-color: #383838;
}

.hover:hover{
    background-color: #4C5051;
}

.text-link:hover{
    color: white;
}

.link-hover{
    color: white;
}

.link-hover:hover{
    color: #DC4437;
}

.scrollbar{
    height: 31em;
}

.scrollbar::-webkit-scrollbar {
    width: 3px;
}
 
.scrollbar::-webkit-scrollbar-track {
    background-color: #4C5051;
    border-radius: 10px;
}
 
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #383838;
}

.scrollbar{
    scrollbar-width: thin;
}

