html, body {
    background-color: #222627;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.bg-black{
    background-color: #222627;
}

.bg-red{
    background-color: #DC4437;
}

.bg-dove{
    background-color: #4C5051;
}

.bg-grey{
    background-color: #383C3D;
}

.text-link:hover{
    color: #F9ED20;
}

